In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load 
vaccination_data= "Raw Data/Measle Vaccination.csv"
cases_data = "Raw Data/Measle Cases.csv"

# Read Vaccination and Case Data File and store into Pandas Data Frames
vaccination = pd.read_csv(vaccination_data)
cases = pd.read_csv(cases_data)

In [3]:
# Clean data sets and create dataframes
vaccination_df = pd.DataFrame(vaccination)

# Remove uneccessary columns
vaccination_df.drop(['INDICATOR','SUBJECT', 'MEASURE', 'FREQUENCY', 'Flag Codes'], axis=1, inplace=True)

# Rename column titles
vaccination_df.rename(columns={'LOCATION':'Country', 'TIME':'Year', 'Value':'Vaccinated Rate'}, inplace=True)

# Remove the year 2018 to keep years consistent for all countries
vaccination_df = vaccination_df[vaccination_df.Year != 2018]

# Display all rows in the dataframe
# pd.set_option('display.max_rows', 308)

# Display dataframe
# vaccination_df

In [4]:
cases_df = pd.DataFrame(cases)

# Replace NaN with a value of zero
cases_df.fillna(0)

# Remove uneccessary columns
cases_df.drop(['Region', 'ISO3'], axis=1, inplace=True)

# Create a 'Total Cases' column that sums up the number of cases throughout the year
cases_df['Total Cases']= cases_df.values[:,3:14].sum(axis=1)

# Delete years 2018 and 2019 to make all datasets years consistent
cases_df = cases_df[cases_df.Year != 2018]
cases_df = cases_df[cases_df.Year != 2019]

# Drop uneccessary columns
cases_df.drop(['January','February','March','April','May','June','July','August','September','October','November','December'],axis=1, inplace=True)

# Display all rows in the dataframe
# pd.set_option('display.max_rows', 1358)

# Display dataframe
# cases_df

In [7]:
# Merge vaccination_df and cases_df into one dataframe
data_complete = pd.merge(vaccination_df, cases_df, how="inner", on=["Country","Year"])

data_complete = data_complete.set_index(["Country","Year"])
data_complete
# # Display all rows in the dataframe
# pd.set_option('display.max_rows', 300)

# # Append countries column
# data_complete = data_complete.set_index('Country', append=True).swaplevel(0,1)

# # Display dataframe
# data_complete.drop(index)

                     Vaccinated Rate Total Cases
Country        Year
Australia      2011               94         171
               2012               94         196
               2013               94         151
               2014               94         262
               2015               95          64
               2016               95          93
               2017               95          72
Austria        2011               84         206
               2012               88          29
               2013               92          75
               2014               96          87
               2015               96         267
               2016               95          28
               2017               96          61
Belgium        2011               95        1145
               2012               96          94
               2013               96          43
               2014               96          71
               2015               96          54
               2016               96          75
               2017               96         341
Canada         2011               88         NaN
               2012               98           9
               2013               90          82
               2014               90         418
               2015               90         180
               2016               90           9
               2017               89          41
Czech Republic 2011               98          18
               2012               98          17
...                              ...         ...
Slovenia       2016               92           1
               2017               93           6
South Africa   2011               89         115
               2012               89          35
               2013               87          49
               2014               92         141
               2015               97         595
               2016               96          22
               2017               81         200
Costa Rica     2011               83         NaN
               2012               90         NaN
               2013               91         NaN
               2014               95           1
               2015               93           0
               2016               93           0
               2017               96           0
Latvia         2011               92           0
               2012               90           2
               2013               96           0
               2014               95          36
               2015               96           0
               2016               93           0
               2017               96           5
Lithuania      2011               94           7
               2012               93           2
               2013               93          35
               2014               93          11
               2015               94          51
               2016               94          22
               2017               94           2

[273 rows x 2 columns]