In [2]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import config

# File to Load 
vaccination_data= "Raw Data/Polio Vaccination.csv"
cases_data = "Raw Data/Polio Cases.csv"

# Read Vaccination and Case Data File and store into Pandas Data Frames
vaccination = pd.read_csv(vaccination_data,header=None)
cases = pd.read_csv(cases_data)

In [135]:
vaccination_df = pd.DataFrame(vaccination)
vaccination_df = vaccination_df.drop(labels=0)
vaccination_df = vaccination_df.rename(columns=vaccination_df.iloc[0]).drop(vaccination_df.index[0])
vaccination_df = vaccination_df.set_index(['Country'])
vaccination_df

# stacking time!
stacked_vaccination = vaccination_df.stack()
polio_vaccination_df = pd.DataFrame(stacked_vaccination)
polio_vaccination_df = polio_vaccination_df.reset_index()
polio_vaccination_df = polio_vaccination_df.rename(columns={'level_1':'Year',0:'Polio_Vaccination_Rate'})
polio_vaccination_df.head()

       Country  Year Polio_Vaccination_Rate
0  Afghanistan  2018                     73
1  Afghanistan  2017                     73
2  Afghanistan  2016                     73
3  Afghanistan  2015                     67
4  Afghanistan  2014                     58

In [1]:
# Connect to engine
connection_string = f'{config.user}:{config.pw}@localhost:5432/Project_2'
engine = create_engine(f'postgresql://{connection_string}')

NameError: name 'config' is not defined

In [138]:
#Import into postgres
polio_vaccination_df.to_sql(name='polio_vaccination', con=engine, if_exists='append', index=False)

In [139]:
#check to make sure properly import into postgres
engine.table_names()

['polio_cases', 'measles_vaccination', 'measles_cases', 'polio_vaccination']

In [99]:
cases_df = pd.DataFrame(cases)
cases_df = cases_df.drop(['Code'],axis=1)
cases_df = cases_df.rename(columns={'Estimated number of paralytic polio cases using reported number of cases after polio free certification (WHO, 2018 and Tebbens et al., 2011)':'Total_Polio_Cases', 'Entity':'Country'})
polio_cases_df = cases_df
polio_cases_df.head()

       Country  Year  Total_Polio_Cases
0  Afghanistan  1980             6160.0
1  Afghanistan  1981             5859.0
2  Afghanistan  1982             9730.0
3  Afghanistan  1983            13937.0
4  Afghanistan  1984             3864.0

In [97]:
polio_cases_df.to_sql(name='polio_cases', con=engine, if_exists='append', index=False)