In [24]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import config

#Read into dataframe
population_data = pd.read_csv("population.csv")
population_df = pd.DataFrame(population_data)
population_df.rename(columns = {'Country Name': 'Country'}, inplace=True)
population_df = population_df.set_index(["Country"])
population_df

#stacking time
stacked_population = population_df.stack()
pop_df = pd.DataFrame(stacked_population)
pop_df = pop_df.reset_index()
pop_df = pop_df.rename(columns={'level_1':'Year',0:'Population'})
pop_df.head()

  Country  Year  Population
0   Aruba  2011    102046.0
1   Aruba  2012    102560.0
2   Aruba  2013    103159.0
3   Aruba  2014    103774.0
4   Aruba  2015    104341.0

In [25]:
# Connect to engine
connection_string = f'{config.user}:{config.pw}@localhost:5432/Project_2'
engine = create_engine(f'postgresql://{connection_string}')

In [26]:
#Import into postgres
pop_df.to_sql(name='population', con=engine, if_exists='append', index=False)

In [27]:
#check to make sure properly import into postgres
engine.table_names()

['population',
 'polio_cases',
 'measles_vaccination',
 'measles_cases',
 'polio_vaccination']